a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: none;
}
.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #007bff;
}
.badge-danger {
	color: #fff;
}
