.list-group-item-action {
	cursor: pointer;
	&:hover,
	&:focus {
		color: #fff;
		background-color: #ff1a1a;
	}
}
@media screen and (max-width:930px) {
	h2 {
		font-size: 1.5rem;
	}
	.fas {
		display: none;
	}
}
