<h2 class="text-center text-white">

	PokéDash</h2>
<ul class="list-group">
	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/">Start<i class="fas fa-chart-pie"></i></li>
	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/dashboard">Pokémon
		Stats <i class="fas fa-chart-pie"></i></li>
	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/list">Pokémon List <i class="fas fa-clipboard-list"></i></li>
	<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/battle">Pokémon
		Battles <i class="fas fa-gamepad"></i></li>
</ul>
<img src="./assets/pokedex-logo.png" alt="Pokedex Icon" class="img-fluid" (click)="openHelp()" placement="bottom" ngbTooltip="PokéDash Explained">
