<div class="modal-header">
	<h4 class="modal-title">Attributes of Pokémons</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6">
					<p>A statistic (Japanese: 能力 ability), or stat for short, is an element which determines certain aspects of battles in the games. Stats may also refer to the numerical values of each field in regards to individual Pokémon.</p>
					<p> <b>Hit Points </b><br />The Hit Points (Japanese: ヒットポイント hit points), or HP for short in both Japanese and English, determine how much damage a Pokémon can receive before fainting. It is the most visible of the stats in battle, appearing both graphically (as a bar with a fill colored green, yellow, or red depending on how much HP in percentage is left) and as a current/max amount below the bar.</p>
					<p>The HP bar also affects the Pokémon's cry. Since Pokémon Ruby and Sapphire, if a Pokémon's HP bar is green, the player will hear the cry of the Pokémon in its normal sounding rate, but if the Pokémon faints, its cry will be lowered by a whole step. Also, since Pokémon FireRed and LeafGreen, if the Pokémon has less than half its total HP, its cry will be lowered by a half-step to indicate its weakened state.</p>
					<p> <b>Attack </b><br />The Attack stat (Japanese: 攻撃能力 attack ability) partly determines how much damage a Pokémon deals when using a physical move.</p>
					<p> <b>Defense </b><br />The Defense stat (Japanese: 防御能力 defense ability) partly determines how much damage a Pokémon receives when it is hit with a physical move.</p>
					<p> <b>Speed </b><br />The Speed stat (Japanese: 素早さ能力 speed ability) determines the order of Pokémon that can act in battle. Pokémon with higher Speed at the start of any turn will generally make a move before ones with lower Speed; in the case that two Pokémon have the same Speed, one of them will randomly go first. An in-battle change to a Pokémon's Speed stat will not take effect until the following turn.</p>
					<p> <b>Base stat values </b><br />A Pokémon's base stat values will most often have the greatest influence over their specific stats at any level. Disregarding individual values, effort values, and Nature, a level 100 Pokémon's stats in Attack, Defense, Speed will be exactly 5 more than double its base stat values in each, while the HP stat will be 110 plus double the base stat value (except in the case of Shedinja, whose HP is always 1).</p>
					<p> <b>Level </b><br />When a Pokémon grows a level, its stats will increase. For each level gained (ignoring Nature), stats will increase by 1/50 the base stat value, and 1/100 the combined individual value and effort value. This means that it is impossible, through leveling up, for a Pokémon to ever lose points in a stat unless it evolves into a Pokémon with a lower base stat value for that specific stat or an EV-reducing Berry is used. It is also impossible for any Pokémon other than Shedinja not to gain HP upon leveling up without using a Pomeg Berry (Pokémon Emerald onward) as no evolutionary line has members with a lower base HP than the pre-evolved forms.</p>
			</div>
			<div class="d-none d-md-block col-md-6">
				<img src="http://78.media.tumblr.com/ed8570c0e5254a94978b103d051d1401/tumblr_mfcqxy9Kg41r72ht7o1_r4_500.gif" class="img-fluid mt-5">
				<img src="http://78.media.tumblr.com/a648b656b23b33755981b7b7a9e3b419/tumblr_mfcqxy9Kg41r72ht7o2_r2_500.gif" class="img-fluid mt-5">
				<img src="https://media.giphy.com/media/WZQW7dtgiYhMs/giphy.gif" class="img-fluid mt-5">
				<img src="https://i.pinimg.com/originals/52/dc/21/52dc21891fe921f1bef4a41ebe60b92a.gif" class="img-fluid mt-5">
			</div>
		</div>
	</div>
</div>
