<ngx-spinner bdColor="rgb(255,255,255)" size="large" color="#007bff" type="timer"></ngx-spinner>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="text-primary">Random Pokemon Battles <i class="fas fa-question-circle" (click)="openHelp()" placement="right" ngbTooltip="More information"></i></h2>
			<div class="card-deck battles">
				<div *ngFor="let battle of battles; let i = index" class="col-sm-12 col-md-6 col-lg-3 item">
					<app-battles [battleInput]="battle" [battleNumber]="i"></app-battles>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
				<a (click)="refreshMatch()" class="btn btn-primary btn-lg text-white my-3">Load More Fights</a>
		</div>
	</div>
</div>
