html,
body {
	width: 100%;
	height: 85%;
	margin: 0;
	padding: 0;
	background-color: #000;
}
.background {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background: url(https://i.imgur.com/TQW5VzG.gif) #fff no-repeat center center fixed;
	background-size: cover;
}
.content {
	color: #212121;
	background-color: transparent;
	z-index: 2;
	position: absolute;
	top: 70%;

	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	@media screen and (min-width: 576px) {
		left: 25%;
	}
	@media screen and (min-width: 768px) {
		left: 30%;
	}
	@media screen and (min-width: 992px) {
		left: 37%;
	}
	@media screen and (min-width: 1200px) {
		left: 43%;
	}
}

.btn {
	background-color: #ffbd00;
	color: #2c2203;
	font-size: 2rem;
	text-align: center;
	border: 1px solid #000094;
	animation: blink 2s infinite both;
	@media screen and (max-width: 454px) {
		font-size: 1.7rem;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
