<nav class="navbar navbar-expand-md navbar-dark bg-primary d-block d-md-none">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav">
			<span class="navbar-toggler-icon"></span>
		</button>
	<span class="navbar-text text-white">PokéDash</span>
    <div class="navbar-collapse collapse" id="mobileNav">
        <ul class="navbar-nav abs-center-x">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/dashboard">Pokémon Stats</a>
			</li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/list">List of Pokémon's</a>
			</li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/battle">Pokémon Battle</a>
			</li>
            <li class="nav-item">
                <a class="btn btn-danger btn-block" routerLink="/">Restart</a>
			</li>
		</ul>
	</div>

</nav>
