<div class="modal-header">
	<h4 class="modal-title">Types of Pokémon's</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p>Types (Japanese: タイプ Type) are properties for Pokémon and their moves. As of Generation VI, there are 18 types.
					Most of these were introduced during Generation I, but the Dark and Steel types were introduced
					in Generation II and the Fairy type was introduced in Generation VI. A unique ??? type also existed from Generations
					II through IV. During Generation I, types were occasionally referred to as elements.</p>
				<p>A Pokémon may have either one or two types: For instance, Charmander is a Fire type, while Bulbasaur is both
					a Grass type and a Poison type. With the current 18-type system, there are 324 possible ways to assign types to Pokémon,
					with 171 unique combinations. As of Generation VII, 146 different type combinations have been used.</p>
			</div>
			<div class="col-sm-12 col-md-6">
				<img src="https://i.imgur.com/E9EHO5l.gif" class="img-fluid mt-5">
			</div>
		</div>
	</div>
</div>
