body {
	background-color: #fff;
	text-align: center;
	height: 100vh;
}

/*
*
* Pikachu Pokemon Go SVG Css Animation - credits: https://codepen.io/mikibrei/pen/JRRwEj
*
*/
.st0 {
	fill: #ecd714;
}
.st1 {
	fill: #e9b115;
}
.st2 {
	fill: #fe0808;
	animation: st2 2.5s ease-out infinite;
	-webkit-animation: st2 2.5s ease-out infinite;
}
.st3 {
	fill: #e60000;
}
.st4 {
	fill: #fe1200;
}
.st5 {
	fill: #4e4707;
}
.st6 {
	fill: #180403;
}
.st7 {
	fill: #6c6209;
}
.st8 {
	fill: #010100;
}
.st9 {
	fill: #0b0a01;
}
.st10 {
	fill: #f8f8f8;
}
.st11 {
	fill: #f7f7f7;
}
.st12 {
	fill: #94190a;
}
.st13 {
	fill: #7c150d;
}
.st14 {
	fill: #791913;
}
.st15 {
	fill: #39cbd9;
}
.wrapper {
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	.eye {
		animation: eye 2s ease-out infinite;
		-webkit-animation: eye 2s ease-out infinite;
	}
	.tail {
		position: absolute;
		width: 35%;
		z-index: -10;
		bottom: 18%;
		right: 3%;
		transform-origin: 0% 100%;
		-webkit-transform-origin: 0% 100%;
		animation: tail 2s linear infinite;
		-webkit-animation: tail 2s linear infinite;
	}
	.circle {
		position: absolute;
		width: 100%;
		z-index: -20;
		top: -10%;
		left: -5%;
	}
}

@keyframes eye {
	0% {
		opacity: 1;
	}
	5% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
}
@-webkit-keyframes eye {
	0% {
		opacity: 1;
	}
	5% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
}

@keyframes tail {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(10deg);
	}
}
@-webkit-keyframes tail {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(10deg);
	}
}

@keyframes st2 {
	0% {
		fill: #fe0808;
	}
	20% {
		fill: #fffa3f;
	}
}
