<div class="card col-auto shadow block-status" [ngStyle]="{'background-color': color}">
  <div class="card-header">
    Battle {{battleNumber +1}}
  </div>
  <div *ngIf="combatDisplay;then inCombat else winner"></div>
  
  <div class="card-body status">
    <ng-template #inCombat>
    {{battleInput.pokemon1}}<br> 
    <span>VS</span>
    {{battleInput.pokemon2}}
    </ng-template>
    <ng-template #winner>
      <h2>{{winners[0]}} Wins!</h2>
      <i class="fa fa-trophy fa-4x"></i>
    </ng-template>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-default btn-block action" [disabled]="isLoading" (click)="toggleStatus(battleInput.isActive)">{{buttonText}}</button>
    </div>
</div>