.block-status {
	width: 250px;
	height: 280px;
	font-size: 1.3em;
	color: #000;
	text-align: center;
}

.status {
	display: block;
	transition: 0.3;
}

.name {
	padding: 5px;
	font-size: 0.7em;
	display: block;
	font-family: monospace;
	transition: 0.3;
}

.action {
	display: block;
	font-size: 0.7em;
	transition:  0.3s;
}

.fight-status {
	margin-top: 20px;
}
