a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: none;
}
.table-inverse td,
.table-inverse th,
.table-inverse thead th {
	border-color: #007bff;
}
.badge-danger {
	color: #fff;
}

img {
	transition: transform 0.2s;
	height: 64px;
	width: 64px;
}

.table-hover tbody tr {
	&:hover {
		background-color: rgba(0, 123, 255, 0.8);
		color: #fff;
		font-weight: 600;
	}
}

.img-mobile {
	height: 128px;
	width: 128px;
	margin: 0 auto;
}
.list-group-item-action {
	cursor: pointer;
	&:hover,
	&:focus {
		color: #fff;
		background-color: #007bff;
	}
}
.list-group-item {
	border: none;
}
