<div class="card" [style.background-color]="color">
	<div class="card-header">
		<h3>Battle {{battleNumber +1}} <i class="fas fa-star"></i></h3>
	</div>
	<div *ngIf="combatDisplay;then inCombat else winner"></div>
	<div class="card-body">
		<ng-template #inCombat>
			<br>
			<h3 class="card-title text-white">{{battleInput.pokemon1}}</h3>
			<br>
			<img src="{{battleInput?.sprite1}}" class="img-fluid"><br>
			<div class="display-4">
				<span class="vs-left">V</span>
				<span class="vs-right">S</span>
			</div>
			<br>
			<img src="{{battleInput?.sprite2}}" class="img-fluid"><br>
			<h3 class="card-title">{{battleInput.pokemon2}}</h3>
			<br>
			<h3 *ngIf="helpText">{{helpText}}</h3>
			<p class="display-4" *ngIf="countdownText !=0 && countdownText !=5">{{countdownText}}</p>
		</ng-template>
		<ng-template #winner><br>
			<img src="{{winners[1]}}" alt="{{winners[0]}}" class="img-fluid">
			<h2>{{winners[0]}} <br>Wins!</h2><br>
			<img src="https://media1.giphy.com/media/3ohhwJPSL00H2r6Rhe/giphy.gif" class="img-fluid">
			<h2 [innerHTML]="stopFightText"></h2><br>
		</ng-template>
	</div>
	<div class="card-footer">
		<button class="btn btn-primary" [disabled]="isLoading" (click)="toggleStatus(battleInput.isActive)">{{buttonText}}</button>
	</div>
</div>
