@import '~ngx-toastr/toastr.css';

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

#sidebar {
	height: 100vh;
	padding-top: 80px;
	position: fixed;
	background-color: #007bff;
}

.section-container {
	padding: 30px;
	height: 70vh;
}

.row,
.container-fluid {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

/* Charts styling */

.card-theme {
	background-color: #fff;
	border: none;
	border-radius: 2px;
}

.card-header-theme {
	color: #fff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 12px;
}

.cards {
	display: flex;
	flex-direction: column;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #fff !important;
	background-color: #007bff;
	border: 1px solid #007bff;
}
.page-item.active .page-link {
	z-index: 2;
	color: #fff !important;
	background-color: #f01c00;
	border-color: #f01c00;
}
.page-item.disabled .page-link {
	visibility: hidden;
}
.page-link:focus,
.page-link:hover {
	color: #fff !important;
	text-decoration: none;
	background-color: #007bff;
	border-color: #007bff;
}
.badge-danger {
	background-color: #f01c00;
}

.help {
	height: 78px;
	width: 78px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
