* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.section-container {
	padding: 30px;
	height: 70vh;
}

/* Charts styling */

.card-theme {
	background-color: #fff;
	border: none;
	border-radius: 2px;
}

.card-header-theme {
	color: #fff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 12px;
}

.cards {
	display: flex;
	flex-direction: column;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff !important;
    background-color: #007bff;
	border: 1px solid #007bff;
}
.page-item.active .page-link {
    z-index: 2;
    color: #fff !important;
    background-color: #F01C00;
    border-color: #F01C00;
}
.page-item.disabled .page-link {
    visibility: hidden;
}
.page-link:focus, .page-link:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #007bff;
    border-color: #007bff;
}
.badge-danger {
	background-color: #F01C00;
}
.col-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    margin-top: 15px;
}
