* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: #1C2228;
	color: #f7fff7;
	height: 100%;
}
a {
	color: #44a4cd;
}

a:hover {
	color: #44a8cf;
}

.shadow {
	box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3)
}

.section-container {
	padding: 30px;
	height: 70vh;
}

/* Charts styling */

.card-theme {
	background-color: #191F26;
	border: none;
	border-radius: 2px;
}

.card-header-theme {
	color: #eee;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 12px;
}

.card-body-theme {
	background-color: #494F56;
}

.cards {
	display: flex;
	flex-direction: column;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #212529;
    border: 1px solid #212529;
}
.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}
.page-item.disabled .page-link {
    visibility: hidden;
}
.page-link:focus, .page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #212529;
    border-color: #212529;
}
.badge-danger {
	background-color: #ff6b6b;
}
.col-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    margin-top: 15px;
}