<div class="section-container">
	<div class="row-fluid cards">
		<div class="card-deck">
			<div class="col-sm-12">

				<div class="card md-3 card-theme">
					<div class="card-header card-header-theme">
						<h5 class="text-primary">Amount of Pokémon by Type <i class="fas fa-info-circle" (click)="openHelpTypes()" placement="right" ngbTooltip="More information"></i></h5>
					</div>
					<div class="card-body">
							<app-bar-chart></app-bar-chart>
					</div>
				</div>
			</div>
			<div class="col-sm-12">

				<div class="card md-3 shadow card-theme">
					<div class="card-header card-header-theme">
						<h5 class="text-primary">Avg Attributes <i class="fas fa-question-circle" (click)="openHelpAttr()"></i></h5>
					</div>
					<div class="card-body">
						<app-pie-chart></app-pie-chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
