<app-navbar></app-navbar>
	<div class="container-fluid">
		<div class="row" id="mainContent">
			<app-sidebar class="col-md-2 d-none d-md-block sidebar px-2" id="sidebar"></app-sidebar>
			<div class="col-sm-12 col-md-10 ml-md-auto d-block mt-2" role="main" id="dashboard">
<div class="section-container">
	<div class="row-fluid cards">
		<div class="card-deck">
			<div class="col-sm-12">

				<div class="card md-3 card-theme">
					<div class="card-header card-header-theme">
						<h5 class="text-primary">Pokémon by Type <i class="fas fa-info-circle" (click)="openHelpTypes()" placement="right" ngbTooltip="More information"></i></h5>
					</div>
					<div class="card-body">
							<app-bar-chart></app-bar-chart>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card md-3 shadow card-theme">
					<div class="card-header card-header-theme">
						<h5 class="text-primary">Avg Attributes <i class="fas fa-question-circle" (click)="openHelpAttr()"></i></h5>
					</div>
					<div class="card-body">
						<app-pie-chart></app-pie-chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
